body {
    font-family: Arial;
    background-color:#d68757
}

h1 {
    color:#ffffff;
    background-color: #000000;
    padding: 1.5rem;
}
p {
    margin:1.5rem;
}
h2 {
    color: #ffffff;
    background-color: #000000;
    padding: 0.5rem;
}
a:link {
    color: #4A1151;
  }