body {
    font-family: Arial;
    background-color:#F09862
}

h1 {
    font-family: Quintessential;
    color:#ffffff;
    background-color: #000000;
    padding: 1.3rem;
    text-transform: uppercase;
}
p {
    padding-left: 1.3rem;
    padding-right: 1.3;
    line-height: 1.5rem;
    font-family: "Courier New", Courier, monospace;
}
h2 {
    color: #ffffff;
    background-color: #000000;
    padding: 0.5rem;
}
a:link {
    color: #1B365C; 
    text-decoration: none; 
}
a:visited {
color: #75150F ; 
}
a:hover {
    color: #5A0F8A; 
    text-decoration: underline; 
}
a:active {
    color: #084242; 
  }