body{
    background-color: white;
    margin:0em;
    padding:0em;
    font-family: Arial, Helvetica, sans-serif;
}
.wrapper {
    /**flex-wrap: wrap;**/
    border: 0px;
    /**display: grid; **/
    display: flex;
    grid-template-rows: 50px 75px 300px 200px;
    grid-template-columns: 2fr 2fr 2fr 2fr 2fr 2fr; 
}
.wrapper2 {
    /**flex-wrap: wrap;**/
    border: 0px;
    display: grid;
    grid-template-rows: 150px 300px 300px 300px 600px;
    grid-template-columns:  1fr 3fr 3fr 3fr 1fr;
}
.wrapper3{
    border: 0px;
    margin-left: 5rem;
    margin-top: 3rem;
}
header {
    display:grid;
    background-color: black; 
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 7;
    text-align: center;
}
nav li {
    margin: 1rem;
    list-style-type: none;
    background-color: #1B811B;
}
nav a {
    text-decoration: none;
    color: lightgray;
    padding: 25px;
}
nav a:hover {
    color: #000080;
    background-color: #FFF436;
    font-weight: bold;
}
nav ul {
    display: flex;
    justify-content: center;
    background-color: #1B811B; 
    padding: 25px;
    margin: 0;
    flex-wrap: wrap;
}
.upperbox{
    display: grid;
    background-color: white;
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 7; 
}
.middlebox1{
    display: grid;
    background-color: gray;
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 2;
    grid-column-end: 4; 
    color: white;
    place-items: center;
}
.middlebox2{
    background-color:white;
    grid-row-start: 3;
    grid-row-end: 5;
    grid-column-start: 5;
    grid-column-end: 6;
    padding: 2rem;
}
.lowerbox1{
    background-color:white;
    grid-row-start: 5;
    grid-row-end: 5;
    grid-column-start: 1;
    grid-column-end: 7;
}

h2 {
    font-weight: bold;
}
p {
    font-size: 1rem;
}
.indexfooter{
    position: fixed;
    bottom: 0em; 
    width: 100%;
    background-color: black;
    color: white;
    font-size: medium;
    text-align: center;
    margin: 0em;
    padding: 25px;
}
footer {
    background-color: white;
    color: black;
    font-size: medium;
    text-align: center;
    margin: 0em;
    padding: 25px;
}
.header2 {
    display:grid;
    background-color: black; 
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 4;
    text-align: center;
}
.topspace {
    display: grid;
    background-color: white;
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 6;
}
.emptyspace {
    display: grid;
    background-color: white;
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 2;
}
.aboutmebox1 {
    display: grid; 
    background-color: white;
    padding: 2rem;
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 3;
}
.aboutmebox2 {
    display: grid;
    background-color:white;
    font-family: 'Times New Roman', Times, serif;
    color: black;
    padding: 2rem;
    place-items: center;
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 3;
    grid-column-end: 6;
}
.aboutmebox3 {
    display: grid;
    background-color: blue;
    padding: 2rem;
    color: white;
    text-align: center;
    padding: 2em;
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 6;
} 
.aboutmebox4 {
    display: grid;
    background-color: maroon;
    color: white;
    text-align:initial;
    padding: 4rem;
    grid-row-start: 4;
    grid-row-end: 5;
    grid-column-start: 1;
    grid-column-end: 6;
}
.aboutmebox5 {
    display: grid;
    background-color: burlywood;
    color: #474747;
    padding: 4rem;
    grid-row-start: 5;
    grid-row-end: 6;
    grid-column-start: 1;
    grid-column-end: 6;
    text-align: center;
}
.fill_cell {
    width: 100%;
    height: 100%;
    object-fit: fill; 
}
.resumespace {
    background-color: black;
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 2;
}
.resumecontent{
    background-color: wheat;
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 3;
}
.img_circle{
    place-items: center;
    padding: 1px;
    width: 80%;
    height: 100%;
    object-fit: fill;
    border-radius: 50%;
    overflow: hidden; 
  }
.wrapper4 {
    border: 0px; /* shows the edges of the div */
    margin: 0 auto; /* centers element horizontally*/
    max-width: 40em; /*in order for the container to appear centered, it needs a width. */
}
article{
    background-color: white;
    border: 1px solid gray;
    padding: 1.3rem;
    margin: .5rem;
    margin-bottom: 1.5rem;
    border-radius: 1rem;
}
.aboutme-h2{
    text-align: center;
}
.bodyPortfolio{
    background-color: beige;
    margin: 0;
}
.mainPortfolio{
    border: 0px red solid;
}
.ul_center{
    display: inline-block;
    text-align: left;
}