body{
    background-color: white;
    margin:0em;
    padding:0em;
    font-family: Arial, Helvetica, sans-serif;
}
.wrapper {
    border: 1px solid black;
    display: grid; 
    grid-template-rows: 100px 100px 300px 250px;
    grid-template-columns: 2fr 2fr 2fr 2fr 2fr 2fr; 
}
header {
    display:grid;
    /**background-color: white; **/
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 7;
    text-align: center;
    /**color: white;**/
    font-size: 2rem;
    place-items: center;
}
nav li {
    flex-wrap: wrap;
    margin: 1rem;
    list-style-type: none;
    background-color: black;
}
nav a {
    text-decoration: none;
    color: lightgray;
    padding: 25px;
}
nav a:hover {
    color: palegoldenrod;
    background-color: black;
}
nav ul {
    display: flex;
    justify-content: center;
    background-color: black; 
    padding: 25px;
    margin: 0;
}
.upperbox{
    display: grid;
    background-color: white;
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 4; 
}
.middlebox1{
    display: grid;
    background-color: gray;
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 2;
    grid-column-end: 4; 
    color: white;
    place-items: center;
}
.middlebox2{
    background-color:white;
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 4;
    grid-column-end: 6;
    padding: 2rem;
}
.lowerbox1{
    background-color:white;
    grid-row-start: 4;
    grid-row-end: 5;
    grid-column-start: 1;
    grid-column-end: 7;
}

h2 {
    font-weight: bold;
}
p {
    font-size: 1rem;
}
.indexfooter{
    position: fixed;
    bottom: 0em; 
    width: 100%;
    background-color: black;
    color: white;
    font-size: medium;
    text-align: center;
    margin: 0em;
    padding: 25px;
}